.hljs,
.hljs-subst {
  color: white;
}

.hljs-literal,
.hljs-regexp,
.hljs-number {
    color: orange;
}

.hljs-symbol,
.hljs-meta {
    color: lightgreen;
}

.hljs-builtin {
    color: lightseagreen;
}

.hljs-function {
    color: lightskyblue;
}

.hljs-keyword {
    color: mediumvioletred;
}

.hljs-string {
    color: hotpink;
}

.hljs-params,
.hljs-attr,
.hljs-var {
    color: yellow;
}

.hljs-comment {
    font-style: italic;
    color: darkolivegreen;
}