@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    width: 100%;
}

#content {
    margin: 1rem 10rem;
    width: calc(100% - 20rem);
}

.desc {
    position: absolute;
    text-align: center;
    color: white;
    background-color: #101020B0;
    box-shadow: 0 -0.25rem 0.25rem #101020B0;
    width: calc(100% - 2rem);
    bottom: -1rem;
    padding: 1rem 1rem;
}

img {
    width: 100%;
}

.half {
    width: 50%;
    float: left;
}

img:hover {
    cursor: pointer;
}

a {
    color: #101020;
    text-decoration: none;
}

a:hover {
    color: #404080;
}

@media screen and (max-width: 750px) {
    #content {
        margin: 0.5rem;
    }

    ul.gallery li {
        height: unset;
        width: 100%;
    }

    ul.gallery li img {
        width: 100%;
    }
}