<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="${data.root}assets/main.css">
    <link rel="stylesheet" href="${data.root}assets/highlight.css">
    <title>${data.attributes.title}</title>
</head>
<body>
    <div id="content">
        <h1><a href="${data.root}index.html">Aidan Ewart</a></h1>
        <hr>
        ${data.body}
    </div>
<script src="${data.root}assets/main.js"></script>
</body>
</html>