<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/main.css">
    <link rel="stylesheet" href="../assets/highlight.css">
    <title>${data.attributes.title}</title>
</head>
<body>
    <nav id="nav"><a href="../index/">Index</a><a href="../projects/">Projects</a><a href="https://github.com/Baidicoot">GitHub</a></nav>
    <div id="content">
        <h1>${data.attributes.title}</h1>
        ${data.body}
    </div>
<script src="../assets/main.js"></script>
</body>
</html>