<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="${data.root}assets/main.css">
    <link rel="stylesheet" href="${data.root}assets/highlight.css">
    <title>${data.attributes.title} @ Aidan's Website</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">
</head>
<body>
    <div id="content">
        <h1><a href="${data.root}index.html">Aidan Ewart</a></h1>
        <hr>
        ${data.body}
    </div>
<script src="${data.root}assets/main.js"></script>
<iframe height="50" src="https://george.gh0.pw/embed.cgi?baidicoot" style="border:none;width:100%"></iframe>
</body>
</html>